body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: purple;
    flex-direction: column;
}

.sketch-container {
    display: flex;
    border: 3px solid rgb(160, 0, 252);
    box-shadow: 0.3em 0.3em 0.3em rgb(255, 0, 136);
    flex-direction: column;
    min-width:75vh;
    min-height: 75vh;
    
}

.block-row {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.block {
    flex: auto;
    background-color: white;
}

h1 {
    font-family: "Brush-Script";
    color: pink;
    font-size: 36px;
}

button {
    font-size: 24px;
    color: white;
    background-color: pink;
    border-radius: 12px;
}